// Text colors:
$main-text-color: white;
$card-description-text: rgb(158, 157, 157);
$item-color: #f86c7a;
$ordered-item-color: #78dbca;

// Background color:
$header-bg-color: #f1757d;

// Font sizes:
$fs-8: 8px;
$fs-10: 10px;
$fs-15: 15px;
$fs-20: 20px;

// distances:
$m-5: 5px;
$mb-10: 10px;
$mt-10: 10px;
$p-10: 10px;
$p-20: 20px;
$p-30: 30px;
$p-50: 50px;

